{% extends "base.html" %}

{% block content %}
{% for i in local_detail %}

<div class="container">
    <div class="well clearfix" style="margin-top:50px;">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5">
                    <h3>{{ i.title }}</h3>
                </div>
                <div class="col-md-3 col-md-offset-4">
                    <h4>{{ i.Tourtype }}</h4>
                </div>
            </div>    
            <div class="row">
                <div class="col-md-12">
                    {{ i.img.url }}
                </div>
            </div>      
        </div>
        <div class="col-md-5">
            <a href="#" class="btn btn-primary" style="margin:30px 0;width:333px; height:120px"><h1 class="text-center">book now</h1></a>
        </div>
    </div>
    
</div>

{% endfor %}
{% endblock %}